.numberPage{
    display: flex;
    justify-content: center;

    div {
        padding: 1%;
        cursor: pointer;
        margin: 0 2%;
    }:hover{
        background-color: aqua;
    }
}
p{
    font-size: 25px;
}
.todoTitleId{
    font-size: 18px;
    margin: 1% 0;
}
